* {
    padding: 0;
    margin: 0;
    font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.wrapper {
    background: #2980b9;  
background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  
background: linear-gradient(to right, #2c3e50, #2980b9); 

}

body{
    background: #2980b9; 
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  
    background: linear-gradient(to right, #2c3e50, #2980b9); 
    
}

.jumbotron {
    border-radius: 50px;
    background: white;
    box-shadow: 15px 15px 15px rgba(8, 8, 8, 0.1);
}

.titulo {
    text-align: center;
    color: #2980b9;
    text-transform: uppercase;
    letter-spacing: 1px;    
}

.titulo .fa{
  padding: 0 .2em;
  color: #2980b9;
}

.input-form {
    font-size: 18px;
    display: block;
    border: none;
    border-bottom: 1px solid #2980b9;  
    border-radius: 0px;
    background: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0) !important;
    
}

.input-form:focus {
    background: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.line {
    position: relative;
    display: block;
}

.line:before,
.line:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #2980b9;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.line:before {
    left: 50%;
}

.line:after {
    right: 50%;
}

input:focus~.line:before,
input:focus~.line:after {
    width: 50%;
}

input:focus~label,
input:valid~label {
    font-size: 14px;
    color: #3f51b5;
    top: -20px;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 20px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.btn-logar{
    background: #2980b9;  
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0) !important;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-left: 25%;
    color: white;
    font-size: 17px;
    text-transform: uppercase;

}

.btn-logar:hover{
    opacity: 0.9;
    color: white;
}

.btn-logar .fa{
    font-size: 20px;
    padding: 0 .2em;
}