.formulario {
    background: #ffffff !important;
    border: 1px solid #d8dee2;
}

.navbar {
    background: #24292e
}

.navbar-brand {
    font-size: 25px;
}

.navbar .fa {
    color: #ffffff;
    font-size: 25px;
    padding: 0 .5em;
}

.nav-link {
    color: #ffffff !important;
    text-transform: none !important;
    font-weight: 501 !important;
    font-size: 18px !important;
    letter-spacing: -.5px !important;
}