/* Geral da Aplicação */

* {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

body {
    background: #f9f9f9;
}

a {
    color: #0366d6 !important;
}

a:hover {
    text-decoration: none !important;
}

.user {
    max-width: 80px;
}

.container {
    margin: 0 auto;
}

.container {
    height: 850px;
}

.jumbotron {
    background: white !important;
    border-radius: 5px;
    border: 1px solid #d8dee2;
}

.titulo h1 {
    color: #24292e;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -.5px;
}

.btn,
.custom-file-control:before {
    padding: .7rem 1rem !important;
}

.btn:hover {
    opacity: 0.9 !important;
    color: white !important;
}

.btn-cadastrar {
    background-color: #269f42 !important;
    width: 300px;
    height: 45px;
    color: white !important;
    border-radius: .25em !important;
    font-weight: 501 !important;
}

.btn-cadastrar a {
    color: white !important;
    padding-top: 10px;
}

.btn-limpar,
.btn-limpar-form {
    width: 150px;
    background: #3a43c4 !important;
    height: 45px;
    color: white !important;
}

@media only screen and (max-width: 580px) {
    img {
        max-width: 200px;
        margin-left: 20% !important;
    }
}

@media only screen and (max-width: 760px) {
    .btn-limpar {
        width: 100%;
    }
    .btn {
        width: 100% !important;
    }
}